@font-face {
  font-family: 'Bahnschrift';
  src: local('Bahnschrift'), url(./fonts/bahnschrift.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: 'Bahnchrift';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
